<!-- views/home.ejs -->
<%- include ("components/header") %>
<body>
    <%- include ("components/menu") %>
    <div id="right-panel" class="right-panel">
        <%- include ("components/rightpanel_header") %>
        <h2>Welcome to Event Management System</h2>
        <a href="/events/list" class="btn btn-primary">Event List</a>
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>

    <!-- 引入 Bootstrap JS -->
    <%- include ("components/footer") %>
