<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/homepage" class="d-flex align-items-center">
            <span class="sitename">國際獅子會中國港澳三0三區</span>
          </a>
          <div class="footer-contact pt-3">
            <p>香港尖山獅子會</p>
            <p>尖山共融障礙嘉年華 2025</p>
            <p class="mt-3"><strong>2025年4月27日(星期日)</strong> <span>上午11時 - 下午4時</span></p>
            
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4></h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="/tc">報名須知</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/rules">活動須知</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <!-- <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
          </ul> -->
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>追踪我們</h4>
          <p>追踪我們以獲得更多活動詳情</p>
          <div class="social-links d-flex">
            <a target="_blank" href="https://www.facebook.com/share/164GpWZoLo/?mibextid=wwXIfr 
            "><i class="bi bi-facebook"></i></a>
            <a target="_blank" href="https://www.instagram.com/lionsclubofhkeaglesnest/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p></p>
      <div class="credits">
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/pages/assets/vendor/php-email-form/validate.js"></script>
  <script src="/pages/assets/vendor/aos/aos.js"></script>
  <script src="/pages/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/pages/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/pages/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/pages/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/pages/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/pages/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/pages/assets/js/main.js"></script>
