<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event 登記</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <!-- 輪播 -->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/exvent/banner.jpg" class="d-block w-100" alt="第一張圖片">
                    <div class="carousel-caption d-none d-md-block">
                        
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mt-4">立即登記！</h1>
        <form id="userForm" method="POST">
            <div class="form-group">
                <label for="email">電子郵件:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="name">姓名:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="phone_code">電話區號:</label>
                <select class="form-control" id="phone_code" name="phone_code">
                    <option value="+852">香港 (+852)</option>
                    <option value="+1">加拿大 (+1)</option>
                    <option value="+86">中國 (+86)</option>
                    <option value="+81">日本 (+81)</option>
                    <option value="+82">韓國 (+82)</option>
                    <option value="+65">新加坡 (+65)</option>
                    <option value="+60">馬來西亞 (+60)</option>
                    <option value="+63">菲律賓 (+63)</option>
                    <option value="+84">越南 (+84)</option>
                    <option value="+66">泰國 (+66)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="phone">電話:</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>

            <div class="form-group">
                <label for="company">公司:</label>
                <input type="text" class="form-control" id="company" name="company" required>
            </div>

            <button type="submit" class="btn btn-primary">立即登記</button>
        </form>
        <div id="successMessage"></div> <!-- 成功消息顯示區域 -->
        <div id="errorMessage"></div> <!-- 錯誤消息顯示區域 -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        $('#userForm').on('submit', function(e) {
            const newUser = {
                email: $('#email').val(),
                name: $('#name').val(),
                company: $('#company').val(),
                phone_code: $('#phone_code').val(),
                phone: $('#phone').val()            
            };
            e.preventDefault(); // 防止表單默認提交
            
            $.ajax({
                type: 'POST',
                url: '/events/<%= event_id %>/users',
                data: newUser,
                success: function(response) {
                  $('#successMessage').html('登記成功！請等候電郵'); // 清除成功消息
                },
                error: function(error) {
                    // 顯示錯誤消息
                    var errMsg = error.responseJSON.message;
                    $('#errorMessage').html('<div class="alert alert-danger">登記失敗！'+errMsg+'</div>');
                    $('#successMessage').html(''); // 清除成功消息
                }
            });
        });
    </script>
</body>
</html>