<!DOCTYPE html>
<html lang="en">

<%- include ("components/header") %>

<body class="index-page">

  <%- include ("components/menu") %>
  

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>關於我們</h1>
        
      </div>
    </div><!-- End Page Title -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">
        <div class="row gy-4">  
          
          <div class="text-center col-lg-12 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <h3>香港尖山獅子會 簡介</h3>  
            <p>香港尖山獅子會於2022年10月12日獲國際獅子總會授證認可成立，成為國際獅子總會中國港澳三O三區內第108個獅子分會。本會亦以[香港尖山獅子會有限公司]成立屬稅務局認可「認可慈善捐款」機構，捐款港幣 $100 元或以上可獲認可慈善捐款的收據。(慈善機構編號: 91/19529)
            </p>
            <p>本會創會成員分別來自社會各個界別，集合不同背景的精英，秉承國際獅子總會「我們服務」「We Serve」的獅子精神，不論個人酬報或利益，以自身經驗能力為社會服務。
            </p>
            <p>本於普世價值，生而為人應無分貴賤，每個生命都值得被尊重以及擁有平等機會，貧困不應剝奪任何人的基本權利，無奈的是弱勢社群難以獲得足夠資源去體現了尊重人權的平等精神。為此，香港尖山獅子會全體獅友往後會互助互信，協力同心，致力為社會弱勢社群提供適切幫助，保障他們獲得與大眾平等的權利。
            </p>
            <p>「取諸社會，用諸社會」</p>
            <p>我們會秉承國際獅子總會濟弱扶危宗旨，針對糖尿病防治、兒童癌症、環境保護宣導、飢餓服務及視力保健五大服務志業，我們必須堅持持續為社會大眾提供多元化的服務支援，積極推動各項慈善活動，讓更多弱勢社群受惠。為此我們需要理念一致，由「傳承」走向「承傳」發揚獅子精神，「哪裏有需要，哪裡就有獅子會會員」，建設包容共濟的和諧社會。</p>
          </div>
        </div>

      </div>

    </section><!-- /Featured Services Section -->

    
  </main>

  <%- include ("components/footer") %>
  
</body>

</html>