<!DOCTYPE html>
<html lang="en">

<%- include ("components/header") %>

<body class="index-page">

  <%- include ("components/menu") %>
  

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- <img src="/pages/assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

      <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="container position-relative">

          <div class="carousel-item active">
            <div class="carousel-container">
              <h2>尖山共融障礙嘉年華 2025</h2>
              <p>您準備好體驗一天難忘的樂趣、挑戰和社群活動了嗎？不用再找了！香港鷹巢包容與障礙樂趣嘉年華將為您帶來一個充滿障礙賽道、手工啤酒和娛樂的活動，適合各年齡段參與。</p>
              <a href="#about" class="btn-get-started">Read More</a>
            </div>
          </div><!-- End Carousel Item -->

          <!-- <div class="carousel-item">
            <div class="carousel-container">
              <h2>Lorem Ipsum Dolor</h2>
              <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started">Read More</a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-container">
              <h2>Sequi ea ut et est quaerat</h2>
              <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started">Read More</a>
            </div>
          </div> -->
          <!-- End Carousel Item -->

          <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
          </a>

          <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
          </a>

          <ol class="carousel-indicators"></ol>

        </div>

      </div>

    </section><!-- /Hero Section -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">
        
            <h3>活動內容</h3>
        
        <div class="row gy-4">
            
          <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
              <!-- <div class="icon"> -->
                <img src="/pages/assets/img/event-details/4.png" class="img-fluid" alt="">
                <!-- <i class="bi bi-person-walking"></i> -->
              <!-- </div> -->
              <a href="#" class="stretched-link">
                <h3>障礙賽：挑戰極限，體驗無限激情！</h3>
              </a>
              <p>你準備好迎接挑戰，突破自我極限了嗎？加入我們專為初學者和經驗豐富的冒險家精心設計的刺激障礙賽道。這裡不僅是一個考驗體力和智慧的舞台，更是一個讓你體驗無與倫比的冒險激情和成就感的地方。

                無論你是初出茅蘆還是資深冒險家，我們的賽道都能滿足你的需求。每一個障礙都被精心設計，以確保你在挑戰中能夠享受無窮的樂趣和成就感。來測試你的極限，挑戰你的極限，體驗那種無與倫比的冒險激情吧！希望這個版本能夠滿足你的需求！</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <img src="/pages/assets/img/event-details/6.png" class="img-fluid" alt="">
              <a href="#" class="stretched-link">
                <h3>手工啤酒節：探索多種手工啤酒和其他攤位</h3>
              </a>
              <p>你準備好體驗香港最精彩的手工啤酒文化了嗎？加入我們的手工啤酒節，探索多種獨特的本地手工啤酒，並享受豐富的音樂表演、美食佳餚和戶外遊戲。</p>

              <p>在這裡，你可以品嚐超過150種不同風格的啤酒來自20多家本地釀酒廠和經銷商。除了啤酒之外，還有現場樂隊和DJ表演，讓你沉浸在無窮的音樂氛圍中。同時，多元化的國際美食和瘋狂好玩的戶外遊戲將讓你的體驗更加豐富。</p>
                
            </p>無論你是啤酒愛好者還是美食達人，這裡都能滿足你的需求。來體驗這個充滿活力的節日吧！</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item item-red position-relative">
              <img src="/pages/assets/img/event-details/5.png" class="img-fluid" alt="">
              <a href="#" class="stretched-link">
                <h3>障礙體驗攤位：發現 7 個提供獨特體驗的迷你攤位，讓您感到啟發和娛樂</h3>
              </a>
              <p>你準備好體驗一場前所未有的冒險之旅了嗎？加入我們的障礙體驗攤位，探索七個獨特的迷你攤位，每一個都會帶給你不同的挑戰和驚喜。這裡不僅是一個娛樂的場所，更是一個能夠啟發你潛能和挑戰自我的平台。

                在這裡，你可以挑戰你的體力和智慧，體驗從攀爬到智力遊戲等多樣化的障礙。每一個攤位都被精心設計，以確保你在挑戰中能夠享受無窮的樂趣和成就感。無論你是冒險家還是家庭團隊，這裡都能滿足你的需求。
                
                來發現你的極限，挑戰你的極限，體驗那種無與倫比的冒險激情吧！每一個攤位都會為你帶來意想不到的驚喜和難忘的回憶。</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="400">
            <a href="https://drive.google.com/file/d/1ap91s3SwW50KlkSHASFst41Dz4k8Rovs/view?usp=sharing" target="_blank" class="btn btn-cus-color">了解更多</a>
          </div>
          <!-- End Service Item -->
        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>為什麼您應該參與我們</h2>
        <!-- <p>所有從嘉年華中產生的收益將直接支持獅子會組織的本地慈善項目。這些項目旨在改善我們社區中有需要的個人和家庭的生活質量，使此次活動不僅充滿樂趣，也具有深遠的影響。</p> -->
      </div><!-- End Section Title -->
      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="/pages/assets/img/poster.png" class="img-fluid" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a> -->
          </div>
          <div class="col-lg-6 content align-items-center" data-aos="fade-up" data-aos-delay="200">
            
            <img src="/pages/assets/img/games/4.png" class="img-fluid" alt="" style="padding-bottom:20px;">
            <h3>加入我們</h3>
            <p class="fst-italic">
              共融的樂趣：無論您是家庭、朋友團體或獨自冒險者，這個活動都設計為讓每個人都能享受
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>你準備好體驗一個充滿歡笑和友誼的時刻了嗎？加入我們的活動，無論你是與家人、朋友團體還是獨自冒險，這裡都能為你提供一個共融的環境，讓每個人都能享受無窮的樂趣。</span></li>
              <li><i class="bi bi-check2-all"></i> <span>我們的活動設計著重於包容性和多樣性，為不同年齡和興趣的人提供豐富的娛樂選擇。從互動遊戲到創意工作坊，每一個活動都被精心打造，以確保每個人都能找到屬於自己的樂趣。</span></li>
              <li><i class="bi bi-check2-all"></i> <span>無論你是尋找一個與家人共度美好時光的機會，還是想與朋友們一起創造難忘的回憶，或者是獨自尋找新朋友，這裡都是你的理想之地。來體驗這個充滿活力的活動吧，讓我們一起創造一個難忘的時刻！</span></li>
            </ul>
            <div class="row gy-4">
              <div class="col-lg-6 content align-items-center" data-aos="fade-up" data-aos-delay="200">
                <p>活動詳情:</p>
                <p>日期：2025年4月27日(星期日)</p>
                <p>時間：上午11時 - 下午4時</p>
                <p>地點：屯門黃金海岸商場及大草坪</p>
              </div>
              <div class="col-lg-6 content align-items-center" data-aos="fade-up" data-aos-delay="200">
                <p>參賽費用:</p>
                <p>共融障礙賽參加者每隊港幣5,000元正（收益扣除成本將會用作香港尖山獅子會來年服務基金）</p>
                <p>公眾亦可免費入場，參加市集及合家歡遊戲</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Features Section -->
    <section id="features" class="features section">
      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="/pages/assets/img/games/5.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>連接志同道合的人，建立持久的回憶。</h3>
            <p class="fst-italic">
              你準備好與志同道合的人建立深厚的聯繫，創造難忘的回憶了嗎？加入我們的社群建設活動，讓我們一起打造一個充滿友誼和共融的環境。            </p>
            <ul>
              <li><i class="bi bi-check"></i><span>在這裡，你可以與來自不同背景的人們建立持久的關係，分享彼此的故事和經驗。通過一系列的互動活動和創意工作坊，我們將幫助你與他人建立信任和歸屬感，讓每個人都感受到被欣賞和尊重。</span></li>
              <li><i class="bi bi-check"></i> <span>無論你是尋找新的朋友還是想加強現有的社交圈，這裡都是你的理想之地。來體驗這個充滿活力的社群吧，讓我們一起創造無數美好的回憶！</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="/pages/assets/img/games/6.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>挑戰自己：通過我們的障礙賽道突破您的極限，實現新的成就</h3>
            <p class="fst-italic">
              你準備好挑戰自我，突破極限，實現新的成就了嗎？加入我們的障礙賽道體驗，來測試你的體力、智慧和毅力。這裡不僅是一個挑戰的舞台，更是一個讓你發現自己潛能和成就感的地方。
            </p>
            <p>
              我們的障礙賽道被精心設計，以滿足不同層次的挑戰者。無論你是初學者還是經驗豐富的冒險家，這裡都能為你提供適合的挑戰。每一個障礙都會推動你向前，讓你體驗到克服困難的喜悅和成就感。
            </p>
            <p>
              來挑戰自己，突破極限，實現新的成就吧！在這裡，你不僅會找到挑戰的刺激，更會發現內在的力量和無限的潛能。讓我們一起創造難忘的冒險記憶！
            </p>
          </div>
        </div><!-- Features Item -->

        <!-- <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
            <img src="/pages/assets/img/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>市集範圍</h3>
            <ul>
              <li><i class="bi bi-check"></i> <span>設10-12攤位 (每個3x3米booth劃分為2個攤位)</span></li>
              <li><i class="bi bi-check"></i><span>攤位包括登記處、選手包換領處、精品福袋慈善義賣、各品牌手工啤</span></li>
            </ul>
          </div>
        </div>
        <!-- Features Item -->
        <!--
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
            <img src="/pages/assets/img/ground.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
            <h3>草地範圍</h3>
            <p class="fst-italic">
              共融障礙賽 共10個關卡:
              <ul>
                <li><i class="bi bi-check"></i> <span>旋風跑</span></li>
                <li><i class="bi bi-check"></i> <span>拉真車</span></li>
                <li><i class="bi bi-check"></i> <span>俄羅斯方塊</span></li>
                <li><i class="bi bi-check"></i> <span>充氣四件套</span></li>
                <li><i class="bi bi-check"></i> <span>迷彩隧道</span></li>
                <li><i class="bi bi-check"></i> <span>失明銅鑼</span></li>
                <li><i class="bi bi-check"></i> <span>泡泡障礙</span></li>
                <li><i class="bi bi-check"></i> <span>運珠</span></li>
                <li><i class="bi bi-check"></i> <span>多向拔河</span></li>
                <li><i class="bi bi-check"></i> <span>團體乾坤大挪移</span></li>
              </ul>
            </p>
            
          </div>
        </div> -->
        <!-- Features Item -->

      </div>

    </section><!-- /Features Section -->
    <section id="contact" class="contact section">
        <div class="container section-title" data-aos="fade-up">
            <h2>立即登記！</h2>
          </div><!-- End Section Title -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            
          <div class="row gy-4">
            <div class="col-lg-12 ">
              <div class="row gy-4">
  
                <div class="col-lg-12">
                  <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>地址</h3>
                    <p>香港黃金海岸廣場</p>
                    <p >時間：2025年4月27日(星期日) <span>上午11時 - 下午4時</span></p>
                    <a href="https://forms.gle/mP8zjSBsiDiTTEuw8" target="_blank" class="btn btn-primary">報名參與共融障礙賽</a>
                  </div>
                </div><!-- End Info Item -->
  
                
              </div>
            </div>
            
            <!-- <div class="col-lg-6">
              <form id="userForm" method="POST" class="php-email-form">
                <div class="form-group">
                    <label for="email">電子郵件:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
    
                <div class="form-group">
                    <label for="name">姓名:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
    
                <div class="form-group">
                    <label for="phone_code">電話區號:</label>
                    <select class="form-control" id="phone_code" name="phone_code">
                        <option value="+852">香港 (+852)</option>
                        <option value="+1">加拿大 (+1)</option>
                        <option value="+86">中國 (+86)</option>
                        <option value="+81">日本 (+81)</option>
                        <option value="+82">韓國 (+82)</option>
                        <option value="+65">新加坡 (+65)</option>
                        <option value="+60">馬來西亞 (+60)</option>
                        <option value="+63">菲律賓 (+63)</option>
                        <option value="+84">越南 (+84)</option>
                        <option value="+66">泰國 (+66)</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="phone">電話:</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
    
                <div class="form-group">
                    <label for="company">公司:</label>
                    <input type="text" class="form-control" id="company" name="company" required>
                </div>
    
                <button type="submit" class="btn btn-primary">創建用戶</button>
            </form>
            <div id="successMessage"></div> 
            <div id="errorMessage"></div>
            </div> -->
            <!-- End Contact Form -->
            
          </div>
  
        </div>
  
        <div class="mt-5" data-aos="fade-up" data-aos-delay="200">
          <iframe style="border:0; width: 100%; height: 370px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.517170120999!2d113.98999687529462!3d22.371852879635245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403fb70f341fcfb%3A0x574a69c22886f728!2z6buD6YeR5rW35bK45ZWG5aC0!5e0!3m2!1szh-TW!2shk!4v1740969879731!5m2!1szh-TW!2shk" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->
  
      </section>
  </main>

  <%- include ("components/footer") %>
  
</body>

</html>