<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>尖山共融障礙嘉年華 2025</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/pages/assets/img/favicon.png" rel="icon">
  <link href="/pages/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/pages/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/pages/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/pages/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/pages/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/pages/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/pages/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Moderna
  * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/homepage" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/pages/assets/img/logo.png" alt=""> -->
        <h1 class="sitename">尖山共融障礙嘉年華 2025</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/homepage" class="active">首頁</a></li>
          <li><a href="#about">關於我們</a></li>
          <li><a href="#service">籌款目的</a></li>
          <li><a href="#contact">立即加入</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- <img src="/pages/assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

      <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="container position-relative">

          <div class="carousel-item active">
            <div class="carousel-container">
              <h2>尖山共融障礙嘉年華 2025</h2>
              <p>您準備好體驗一天難忘的樂趣、挑戰和社群活動了嗎？不用再找了！香港鷹巢包容與障礙樂趣嘉年華將為您帶來一個充滿障礙賽道、手工啤酒和娛樂的活動，適合各年齡段參與。</p>
              <a href="#about" class="btn-get-started">Read More</a>
            </div>
          </div><!-- End Carousel Item -->

          <!-- <div class="carousel-item">
            <div class="carousel-container">
              <h2>Lorem Ipsum Dolor</h2>
              <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started">Read More</a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-container">
              <h2>Sequi ea ut et est quaerat</h2>
              <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started">Read More</a>
            </div>
          </div> -->
          <!-- End Carousel Item -->

          <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
          </a>

          <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
          </a>

          <ol class="carousel-indicators"></ol>

        </div>

      </div>

    </section><!-- /Hero Section -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">
        
            <h3>活動內容</h3>
        
        <div class="row gy-4">
            
          <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
              <div class="icon">
                <i class="bi bi-person-walking"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>刺激障礙賽道</h3>
              </a>
              <p>測試您的極限，享受我們為初學者和經驗豐富的冒險家設計的刺激障礙賽道</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <div class="icon">
                <i class="bi bi-cup-straw"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>手工啤酒節</h3>
              </a>
              <p>探索 10 個提供多種手工啤酒和其他攤位。</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item item-red position-relative">
              <div class="icon">
                <i class="bi bi-shop-window"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>障礙體驗攤位</h3>
              </a>
              <p>發現 7 個提供獨特體驗的迷你攤位，讓您感到啟發和娛樂。</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="/pages/assets/img/poster.png" class="img-fluid" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a> -->
          </div>
          <div class="col-lg-6 content align-items-center" data-aos="fade-up" data-aos-delay="200">
            <h3>為什麼您應該加入我們</h3>
            <p class="fst-italic">
                尖山獅子會致力於社區服務和慈善活動。我們非常高興能夠提議在香港黃金海岸廣場舉辦一場嘉年華籌款活動。這個活動旨在團結社區，為大家帶來一整天的樂趣、娛樂和籌款，同時促進當地商業並增強社區精神。
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>包容的樂趣： 無論您是家庭、朋友團體或獨自冒險者，這個活動都設計為讓每個人都能享受。</span></li>
              <li><i class="bi bi-check2-all"></i> <span>社群建設： 連接志同道合的人，建立持久的回憶。</span></li>
              <li><i class="bi bi-check2-all"></i> <span>挑戰自己： 通過我們的障礙賽道突破您的極限，實現新的成就。</span></li>
            </ul>
            <p>活動名稱：本次活動將正式命名為「尖山共融障礙嘉年華」，以下簡稱嘉年華。</p>
            <p>日期：嘉年華定於2025年4月27日（星期日）舉行。</p>
            <p>時間：活動將從上午9時至晚上7時進行，為參加者提供充足的時間享受所有活動。</p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>籌款目的</h2>
        <p>所有從嘉年華中產生的收益將直接支持獅子會組織的本地慈善項目。這些項目旨在改善我們社區中有需要的個人和家庭的生活質量，使此次活動不僅充滿樂趣，也具有深遠的影響。</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="/pages/assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>贊助商福利</h3>
            <p class="fst-italic">
                參加嘉年華贊助提供多項福利：
            </p>
            <ul>
              <li><i class="bi bi-check"></i><span>包容的樂趣： 無論您是家庭、朋友團體或獨自冒險者，這個活動都設計為讓每個人都能享受。</span></li>
              <li><i class="bi bi-check"></i> <span>社群建設： 連接志同道合的人，建立持久的回憶。</span></li>
              <li><i class="bi bi-check"></i> <span>挑戰自己： 通過我們的障礙賽道突破您的極限，實現新的成就。</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="/pages/assets/img/features-2.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>參加費用</h3>
            <p class="fst-italic">
              共融障礙賽 (對象為獅友及工商機構，限預先報名，每隊$5,000 ; 6-10位參賽者) 
            </p>
            <p>
            小遊戲體驗區 - 共融障礙賽旁設有7個合家歡小遊戲，遊戲咭每張$100，可選玩5項遊戲。
            </p>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
            <img src="/pages/assets/img/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>市集範圍</h3>
            <ul>
              <li><i class="bi bi-check"></i> <span>設10-12攤位 (每個3x3米booth劃分為2個攤位)</span></li>
              <li><i class="bi bi-check"></i><span>攤位包括登記處、選手包換領處、精品福袋慈善義賣、各品牌手工啤</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
            <img src="/pages/assets/img/ground.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
            <h3>草地範圍</h3>
            <p class="fst-italic">
              共融障礙賽 共10個關卡:
              <ul>
                <li><i class="bi bi-check"></i> <span>旋風跑</span></li>
                <li><i class="bi bi-check"></i> <span>拉真車</span></li>
                <li><i class="bi bi-check"></i> <span>俄羅斯方塊</span></li>
                <li><i class="bi bi-check"></i> <span>充氣四件套</span></li>
                <li><i class="bi bi-check"></i> <span>迷彩隧道</span></li>
                <li><i class="bi bi-check"></i> <span>失明銅鑼</span></li>
                <li><i class="bi bi-check"></i> <span>泡泡障礙</span></li>
                <li><i class="bi bi-check"></i> <span>運珠</span></li>
                <li><i class="bi bi-check"></i> <span>多向拔河</span></li>
                <li><i class="bi bi-check"></i> <span>團體乾坤大挪移</span></li>
              </ul>
            </p>
            
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section -->
    <section id="contact" class="contact section">
        <div class="container section-title" data-aos="fade-up">
            <h2>立即登記！</h2>
          </div><!-- End Section Title -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            
          <div class="row gy-4">
            <div class="col-lg-6 ">
              <div class="row gy-4">
  
                <div class="col-lg-12">
                  <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>地址</h3>
                    <p>香港黃金海岸廣場</p>
                  </div>
                </div><!-- End Info Item -->
  
  
              </div>
            </div>
  
            <div class="col-lg-6">
              <form id="userForm" method="POST" class="php-email-form">
                <div class="form-group">
                    <label for="email">電子郵件:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
    
                <div class="form-group">
                    <label for="name">姓名:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
    
                <div class="form-group">
                    <label for="phone_code">電話區號:</label>
                    <select class="form-control" id="phone_code" name="phone_code">
                        <option value="+852">香港 (+852)</option>
                        <option value="+1">加拿大 (+1)</option>
                        <option value="+86">中國 (+86)</option>
                        <option value="+81">日本 (+81)</option>
                        <option value="+82">韓國 (+82)</option>
                        <option value="+65">新加坡 (+65)</option>
                        <option value="+60">馬來西亞 (+60)</option>
                        <option value="+63">菲律賓 (+63)</option>
                        <option value="+84">越南 (+84)</option>
                        <option value="+66">泰國 (+66)</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="phone">電話:</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
    
                <div class="form-group">
                    <label for="company">公司:</label>
                    <input type="text" class="form-control" id="company" name="company" required>
                </div>
    
                <button type="submit" class="btn btn-primary">創建用戶</button>
            </form>
            <div id="successMessage"></div> <!-- 成功消息顯示區域 -->
            <div id="errorMessage"></div> <!-- 錯誤消息顯示區域 -->
            </div><!-- End Contact Form -->
  
          </div>
  
        </div>
  
        <div class="mt-5" data-aos="fade-up" data-aos-delay="200">
          <iframe style="border:0; width: 100%; height: 370px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.517170120999!2d113.98999687529462!3d22.371852879635245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403fb70f341fcfb%3A0x574a69c22886f728!2z6buD6YeR5rW35bK45ZWG5aC0!5e0!3m2!1szh-TW!2shk!4v1740969879731!5m2!1szh-TW!2shk" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->
  
      </section>
  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/homepage" class="d-flex align-items-center">
            <span class="sitename">國際獅子會中國港澳三0三區</span>
          </a>
          <div class="footer-contact pt-3">
            <p>香港尖山獅子會</p>
            <p>尖山共融障礙嘉年華 2025</p>
            <p class="mt-3"><strong>2025年4月27日(星期日)</strong> <span>上午11時 - 下午4時</span></p>
            
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4></h4>
          <ul>
            <!-- <li><i class="bi bi-chevron-right"></i> <a href="#"></a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li> -->
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <!-- <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
          </ul> -->
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>追踪我們</h4>
          <p>追踪我們以獲得更多活動詳情</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p></p>
      <div class="credits">
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/pages/assets/vendor/php-email-form/validate.js"></script>
  <script src="/pages/assets/vendor/aos/aos.js"></script>
  <script src="/pages/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/pages/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/pages/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/pages/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/pages/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/pages/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/pages/assets/js/main.js"></script>

</body>

</html>