<!DOCTYPE html>
<html lang="en">

<%- include ("components/header") %>

<body class="index-page">

  <%- include ("components/menu") %>
  

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>籌款目的</h1>
        
      </div>
    </div><!-- End Page Title -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">
        <div class="row gy-4">  
          
          <div class="text-center col-lg-12 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <h3>籌款目的</h3>  
            <p>香港尖山獅子會過去籌辦各項青少年、基層家庭、SEN及長者為目標的服務，服務詳情可瀏覽本會facebook專頁(香港尖山獅子會 Lions Club of Hong Kong Eagles Nest)，是次一年一度籌款項目扣除成本，收益將會用作香港尖山獅子會未來年服務經費。</p>
            <p>[香港尖山獅子會有限公司] 成立屬稅務局認可「認可慈善捐款」機構，捐款港幣 $100 元或以上可獲認可慈善捐款的收據。(慈善機構編號: 91/19529)</p>
          </div>
        </div>

      </div>

    </section><!-- /Featured Services Section -->

    
  </main>

  <%- include ("components/footer") %>
  
</body>

</html>