<!DOCTYPE html>
<html lang="en">

<%- include ("components/header") %>

<body class="portfolio-details-page">

    <%- include ("components/menu") %>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>活動須知</h1>
        
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-12">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>活動須知</h3>
              <ul>
                <li>主辦單位已經為本活動投購公眾責任保險，所有報名參賽者都會納入受保障範圍。參賽者同時需要注意，有關保險不等同個人意外保險，參賽者可自行評估應否購買個人保險產品，以保障本身風險。</li>
                <li>大會不會為參賽者提供行李寄存服務。參賽者需要自行保管個人物品，如有任何損毀或遺失，主辦單位將不會負任何責任及作出任何賠償。</li>
                <li>所有比賽範圍、大會指定拍攝區及活動區域只開放予參賽者進入。參賽者必須依照大會指定日期、時間及地點領取選手包及相關物品。否則大會有權不向其派發而不作另行通知或退款。</li>
                <li>為保障賽事參賽者及現場安全，除工作人員外，大會嚴禁任何人(包括參賽者親屬及觀衆)在障礙賽區停留拍照或觀看。大會有權要求任何人離開上述區域，參賽者須服從大會指示。</li>
                <li>除主辦單位批准外，所有活動一律禁止參賽者直接或間接使用任何形式車輪運行的物件 (包括但不限於自行車、滾軸溜冰鞋、手推車、附有轆的鞋等)進入活重範圍。</li>
                <li>大會保留因應實際情況或在緊急情況下，於活動前或進行期間更改活動範圍之權利而無須作另行通知。活動期間若發生緊急事故，活動或會暫停，以讓緊急車輛通過。在任何緊急情況下，參賽者必須聽從現場工作人員或執法人員的指示。</li>
                <li>如參賽者未能於指定時間內完成活動，必須依照大會工作人員指示，離開比賽範圍。如參賽者對於奬項、名次或完成時間有任何爭議，大會保留最終決定權。</li>
                <li>若參賽者在活動期間因蓄意破壞而導致主辦單位需支付額外開支，必須對主辦單位作出合理之賠償。</li>
                <li>大會保留權利取消任何觸犯、違反或不遵守任何大會守則人仕的參賽成績。被取消資格的參賽者的報名費將不獲退還 (適用於競賽活動)。</li>
                <li>工作人員、醫務人員或保安有權要求參賽者退出比賽/活動，並取消其參加資格。</li>
                <li>如果大會發現參賽者違反或犯下 (視情況而定) 以下任何官方規則，大會保留取消任何人士參加賽事的資格、取消其賽事成績及報告給執法機構。並進一步禁止及禁止該人士參加主辦單位未來舉辦的賽事、比賽及活動。
                    <ul>
                        <li>參賽者作出或企圖作出任何違反香港特別行政區法例及香港特別行政區國安法的行為。</li>
                        <li>參賽者在活動或與活動有關的其他場所或區域進行或試圖進行任何形式的示威或政治、宗教或種族宣傳。</li>
                        <li>參賽者行為構成不利國家安全的情況。</li>
                        <li>參賽者攜帶和/或展示任何涉及侮蔑性、威脅性、歧視性、宗教性或政治性的橫幅、海報、標語、傳單、服飾、紋身或宣傳品。</li>
                        <li>攜帶危險物品 (即攻擊性武器、易燃、易爆製劑或妨礙其他參與者的材料/物品等)。</li>
                    </ul>
                    <li>⁠基於本次活動有酒精飲品售賣及供應，參加者必須遵從香港特別行政區法例，並不會向18歲以下之參加者供應酒精飲品。</li>
                    <li>⁠大會及攤位營運方有權要求參加者出示身份證文件，以售賣及提供酒精飲品。</li>
                    <li>⁠⁠主辦單位保留以是次活動照片作日後推廣用途之權利。</li>
                    <li>⁠主辦單位保留更改大會條款及細則之權利。本活動所引發的任何爭議 (包括任何參加規則的解釋和行使)，主辦單位將擁有最終的決定權。</li>
            </div>
            
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

  <%- include ("components/footer") %>

</body>

</html>