<!DOCTYPE html>
<html lang="en">

<%- include ("components/header") %>

<body class="portfolio-details-page">

    <%- include ("components/menu") %>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>報名須知</h1>
        
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-12">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>報名須知</h3>
              <ul>
                <li>參賽者必須仔細閱讀活動條款及細則，包括報名須知、比賽規則、個人資料使用、活動取消及退款細則。遞交報名表後，即表示參賽者遵守及接受在此及其後主辦及協辦單位所引入之一切活動條款及細則。</li>
                <li>參賽者必須確保報名表資料正確無誤。如有錯漏或虛報，大會有權取消參賽者的參賽資格，並不會作出退款或補償。</li>
                <li>每位參賽者必須確保身體健康狀況良好，適合參加是次比賽/活動。遇有懷疑參賽者健康狀況不適合參賽，大會有權取消該參賽者參與的權利，而相關人仕必須接受大會的決定。</li>
                <li>活動屬於自願參與性質，參賽者願意承擔一切風險及責任，並無權向主辦單位/包括大會、協辦單位、活動策劃、贊助商、支持機構追討由往返活動場地中、活動中發生或其他原因而引致之自身受傷、意外、死亡或任何形式的損失索償或追究責任。</li>
                <li>參賽者必須年滿 18 歲才可參加是次活動。</li>
                <li>參賽者可自行決定要求大會提供飲用食水代替酒精飲品作賽。</li>
                <li>報名一經接納，大會有權不接受任何轉名或組別更改。已提交的報名或重複報名，均不設退款、退件、轉名安排及取消服務。</li>
                <li>參賽隊伍最少 8 名成員，最多 10 名成員，每 1 隊由 1 名隊長及 7 至 9 名隊員組成。</li>
                <li>大會有權更改截止報名日期，而不作任何通知。活動不接現場及逾期報名。</li>
                <li>如需要更正任何報名資料，可透過 WhatsApp: <a target="_blank" href="https://api.whatsapp.com/send/?phone=85266006286">+852 6600 6286</a> (不設語音通話) 或電郵 <a href="mailto:lions.eaglesnest@gmail.com">lions.eaglesnest@gmail.com</a> 聯絡大會，根據情況大會有權(每次)收取行政費港幣50元。</li>
                <li>活動T恤尺碼需於報名時揀選，活動T恤數量有限，大會會採用先到先得形式分發。如該尺碼已經分發完畢，大會會隨機分發其他尺碼，而不另行通知。</li>
                <li>付款後，在任何情況下大會均不會接受更改T恤尺碼之申請。</li>
            </ul>
            </div>
            
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

  <%- include ("components/footer") %>

</body>

</html>